############################## Basic Python stuffs ##############################
snippet pdb
__import__("pdb").set_trace()
endsnippet

snippet tbp
import traceback; traceback.print_exc()
endsnippet

snippet pprint
import pprint; pprint.pprint(${0})
endsnippet
############################## ##############################

