############################## Basic Python stuffs ##############################
snippet pdb
__import__("pdb").set_trace()
endsnippet

snippet tbp
import traceback; traceback.print_exc()
endsnippet

snippet pprint
import pprint; pprint.pprint(${0})
endsnippet

snippet tstart
start = __import__("time").time()
endsnippet

snippet tend
end = __import__("time").time(); print("${0}: ", end - start)
endsnippet
############################## ##############################

