############################## Basic Python stuffs ##############################
snippet pdb
import pdb; pdb.set_trace()
endsnippet

snippet tbp
import traceback; traceback.print_exc()
endsnippet
############################## ##############################

